{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur le meilleur réseau d'apart
{% endblock %}
{% block body %}
	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bienvenue sur SymBNB</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
		</div>
		<h2 class="h1 mt-3 mb-4">Nos Appartements</h2>
		<div class="row mt-5">
			<div class="col-md-4">
				<div class="card bg-ligh mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="image de l'apart" style="height: 200px; width:100%; display:block;">
					<div class="card-body">
						<h4 class="card-title">Appartement sympa</h4>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem modi iure fugit quis quia cumque odio repellat et veniam doloremque?</p>
						<a href="#" class="btn btn-secondary">En savoir plus</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-ligh mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="image de l'apart" style="height: 200px; width:100%; display:block;">
					<div class="card-body">
						<h4 class="card-title">Appartement sympa</h4>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem modi iure fugit quis quia cumque odio repellat et veniam doloremque?</p>
						<a href="#" class="btn btn-secondary">En savoir plus</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-ligh mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="image de l'apart" style="height: 200px; width:100%; display:block;">
					<div class="card-body">
						<h4 class="card-title">Appartement sympa</h4>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem modi iure fugit quis quia cumque odio repellat et veniam doloremque?</p>
						<a href="#" class="btn btn-secondary">En savoir plus</a>
					</div>
				</div>
			</div>
			<h2 class="h1 mt-5 mb-4">Nos propriétaires</h2>
			<div class="row">
				<div class="col">
					<div class="card border-secondary mb-3">
						<div class="card-body">
							<h4 class="card-title">Paul Fournier</h4>
							<hr>
							<div class="card-text">
								<img src="http://placehold.it/64x64" alt="" class="float-left mr-3">
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptas enim molestiae aliquid vitae numquam autem quas repellendus, deserunt magni?</p>
								<a href="#" class="btn btn-success float-right">En savoir plus</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card border-secondary mb-3">
						<div class="card-body">
							<h4 class="card-title">Paul Fournier</h4>
							<hr>
							<div class="card-text">
								<img src="http://placehold.it/64x64" alt="" class="float-left mr-3">
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptas enim molestiae aliquid vitae numquam autem quas repellendus, deserunt magni?</p>
								<a href="#" class="btn btn-success float-right">En savoir plus</a>

							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	{% endblock %}
