{% extends "base.html.twig" %}

{% block title %}Vous n'avez pas le droit d'accéder à cette ressource{% endblock %}

{% block body %}
<div class="container">
    <h1>Merci de votre contribution de test du site</h1>
    <div class="alert alert-danger">
    <p>Ressource inacessible :) </p>
    </div>
<a href=" {{path('homepage')}} " class="btn btn-primary">Retour à la page d'accueil</a>
<a href=" path('ads_index') " class="btn btn-success">Nos annonces</a>
</div>
{% endblock %}